<html>
   <body>
      <form action = "http://localhost:5000/result" method = "POST">
         <p>stock <input type = "text" name = "stock" /></p>
         <p>startdate <input type = "text" name = "startdate" /></p>
         <p>enddate <input type = "text" name = "enddate" /></p>
         <p>indicators1<input type = "text" name = "indicators1" /></p>
         <p>comparator<input type = "text" name = "comparator" /></p>
         <p>indicators2 <input type ="text" name = "indicators2" /></p>
         <p>stoploss <input type ="text" name = "stoploss" /></p>
         <p>targetprofit <input type ="text" name = "targetprofit" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>